/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main styles */
main {
  padding-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #00000087;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.media-link {
  height: 30px;
  margin: 0 1rem;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 0 10px;
}

section h2 {
  font-family: 'Indie Flower', cursive;
}

/* Contact form styles */
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

@media screen and (max-width: 375px) {
  footer {
    height: 40px;
  }
}
